# Process to create a master list of SFUSD elementary schools including district codes, state codes, and addresses

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#master">Master List</a></li>
</ul>

# <a id='intro'></a>
## Introduction

4,611 children entered the 2017-2018 San Francisco Unified School District kindergarten lottery. Parents can select multiple schools, and they made more than 45,000 unique choices. 
This Jupyter Noteboook prepares the master schools list to be used in the analysis of the SFUSD Lottery data.

In [1]:
# Importing packages and functions
import pandas as pd
import numpy as np
import csv

In [2]:
#file 1
sfusd_cds= pd.read_csv('./data/codes/sfusd_cds_codes.csv')
#http://web.sfusd.edu/Services/research_public/rpadc_lib/SFUSD%20CDS%20Codes%20SchYr2012-13_(08-20-12).pdf

#file2
sfdata_addresses_cds= pd.read_csv('./data/codes/schools_concise.csv')
#https://data.sfgov.org/Economy-and-Community/Schools/tpp3-epx2/data

#file3
caaspp_cds_district= pd.read_csv('./data/codes/sfusd_district_cds_codes_clean.csv')
#http://caaspp.edsource.org/
#https://www2.cde.ca.gov/dataresourceguide/
#https://caaspp.cde.ca.gov/sb2018/ResearchFileListCAA?ps=true&lstCounty=38&lstDistrict=68478-000&lstSchool=&lstCntyNam=San%20Francisco&lstDistNam=San%20Francisco%20Unified&lstTestYear=2018&lstTestType=A&rf=true

# <a id='wrangling'></a>
## Data Wrangling

In [3]:
#clean up column names
sfusd_cds.columns = [x.strip().replace('-', '_') for x in sfusd_cds.columns]
sfusd_cds.rename(columns={'cds_cd' : 'cds_code'}, inplace=True)

sfdata_addresses_cds.columns = [x.lower() for x in sfdata_addresses_cds.columns]
sfdata_addresses_cds.columns = [x.strip().replace(' ', '_') for x in sfdata_addresses_cds.columns]
sfdata_addresses_cds.rename(columns={'campus_name' : 'school_name'}, inplace=True)

caaspp_cds_district.rename(columns={'state_code' : 'cds_code'}, inplace=True)

In [4]:
#convert data types
sfusd_cds = sfusd_cds.convert_objects(convert_numeric=True)
sfdata_addresses_cds = sfdata_addresses_cds.convert_objects(convert_numeric=True)
caaspp_cds_district = caaspp_cds_district.convert_objects(convert_numeric=True)

/Users/Irene/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app
/Users/Irene/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  app.launch_new_instance()
/Users/Irene/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:4: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [5]:
sfusd_cds['cds_code'] = sfusd_cds['cds_code'].fillna(0).astype(int)
sfusd_cds['cds_code'] = sfusd_cds['cds_code'].astype(np.int64)

In [6]:
sfusd_cds.dtypes

school_name    object
cds_code        int64
dtype: object

In [7]:
sfdata_addresses_cds.dtypes

school_name       object
campus_address    object
zipcode            int64
cds_code           int64
dtype: object

sfdata_addresses_cds['cds_code'] = sfdata_addresses_cds['cds_code'].fillna(0).astype(int)
sfdata_addresses_cds['cds_code'] = sfdata_addresses_cds['cds_code'].astype(np.int64)
#school_addresses_cds.options.display.float_format = '{:,.0f}'.format
#sfusd_cds_district_codes.options.display.float_format = '{:,.0f}'.format
#pd.astype(int)
#https://stackoverflow.com/questions/11548005/numpy-or-pandas-keeping-array-type-as-integer-while-having-a-nan-value

In [8]:
sfdata_addresses_cds.dtypes

school_name       object
campus_address    object
zipcode            int64
cds_code           int64
dtype: object

In [9]:
caaspp_cds_district.dtypes

school_name       object
district_code    float64
cds_code         float64
dtype: object

In [10]:
cols_file1 = list(sfusd_cds.columns.values)
cols_file2 = list(sfdata_addresses_cds.columns.values)
cols_file3 = list(caaspp_cds_district.columns.values)
print(cols_file1)
print(cols_file2)
print(cols_file3)

['school_name', 'cds_code']
['school_name', 'campus_address', 'zipcode', 'cds_code']
['school_name', 'district_code', 'cds_code']

In [11]:
sfusd_cds.head()

                   school_name   cds_code
0  Alamo Elementary School, GE    6040695
1            Lilienthal Alt K8    6102479
2           Edison Charter K-8    6040935
3                Carmichael ES  384001456
4                     Harte ES    6040760

In [12]:
sfdata_addresses_cds.head()

,school_name,campus_address,zipcode,cds_code
0,"Carmichael, Bessie Carmichael K-5 Campus / Ear...",375 07TH ST,94103,384001456
1,"Feinstein, Dianne Feinstein Elementary School",2550 25TH AVE,94116,111427
2,"Stockton, Commodore Stockton Early Education S...",1 TRENTON ST,94108,117465
3,Noriega Early Education School,1775 44TH AVE,94122,117473
4,San Miguel Early Education School,300 SENECA AVE,94112,117481

In [13]:
caaspp_cds_district.head()

   school_name  district_code   cds_code
0     Alamo ES          413.0  6040695.0
1  Alvarado ES          420.0  6040703.0
2   Argonne ES          435.0  6040737.0
3    Bryant ES          456.0  6040778.0
4    Carver ES          625.0  6093496.0

# <a id='master'></a>
## Getting the Master List

In [14]:
df = pd.merge(sfusd_cds, caaspp_cds_district, on='cds_code', how='outer')

In [15]:
df.head()

,school_name_x,cds_code,school_name_y,district_code
0,"Alamo Elementary School, GE",6040695.0,Alamo ES,413.0
1,Lilienthal Alt K8,6102479.0,Lawton Alt K8,479.0
2,"Lilienthal, Claire (K-2 Madison Campus), GE",6102479.0,Lawton Alt K8,479.0
3,"Lilienthal, Claire (K-2 Madison Campus), Korea...",6102479.0,Lawton Alt K8,479.0
4,Edison Charter K-8,6040935.0,NaN,NaN

In [16]:
df.rename(columns={'school_name_x' : 'school_name_sfusd_cds_codes', 'school_name_y' : 'school_name_caaspp_cds_district_codes'}, inplace=True)

In [17]:
df_big = pd.merge(caaspp_cds_district, sfdata_addresses_cds, on='cds_code', how='outer')

In [18]:
df_big.head()

,school_name_x,district_code,cds_code,school_name_y,campus_address,zipcode
0,Alamo ES,413.0,6040695.0,Alamo Elementary School,250 23RD AVE,94121.0
1,Alvarado ES,420.0,6040703.0,Alvarado Elementary School,625 DOUGLASS ST,94114.0
2,Argonne ES,435.0,6040737.0,Argonne Elementary School,680 18TH AVE,94121.0
3,Bryant ES,456.0,6040778.0,Bryant Early Education / Bryant Elementary,2641 25TH ST,94110.0
4,Carver ES,625.0,6093496.0,"Carver, Dr. George Washington Carver Elementar...",1360 OAKDALE AVE,94124.0

In [19]:
#convert data types
df_big = df_big.convert_objects(convert_numeric=True)

/Users/Irene/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app

In [20]:
df_big.dtypes

school_name_x      object
district_code     float64
cds_code          float64
school_name_y      object
campus_address     object
zipcode           float64
dtype: object

In [21]:
df_big['zipcode'] = df_big['zipcode'].fillna(0).astype(int)
df_big['zipcode'] = df_big['zipcode'].astype(np.int64)

In [22]:
df_big['district_code'] = df_big['district_code'].fillna(0).astype(int)
df_big['district_code'] = df_big['district_code'].astype(np.int64)

In [23]:
df_big.dtypes

school_name_x      object
district_code       int64
cds_code          float64
school_name_y      object
campus_address     object
zipcode             int64
dtype: object

In [24]:
# check for duplicates 
df_big.duplicated('district_code').value_counts()

False    74
True     13
dtype: int64

In [25]:
#drop the second instance of duplicates
df_big.drop_duplicates('district_code', inplace = True)

In [26]:
# check for duplicates again to make sure the duplicate removal worked
df_big.duplicated('district_code').value_counts()

False    74
dtype: int64

In [27]:
#check the data so far
df_big

,school_name_x,district_code,cds_code,school_name_y,campus_address,zipcode
0,Alamo ES,413,6040695.0,Alamo Elementary School,250 23RD AVE,94121
1,Alvarado ES,420,6040703.0,Alvarado Elementary School,625 DOUGLASS ST,94114
2,Argonne ES,435,6040737.0,Argonne Elementary School,680 18TH AVE,94121
3,Bryant ES,456,6040778.0,Bryant Early Education / Bryant Elementary,2641 25TH ST,94110
4,Carver ES,625,6093496.0,"Carver, Dr. George Washington Carver Elementar...",1360 OAKDALE AVE,94124
5,Buena Vista / Horace Mann,618,6062046.0,Buena Vista / Horace Mann,3351 23RD ST,94110
6,Carmichael ES,449,384001456.0,"Carmichael, Bessie Carmichael K-5 Campus / Ear...",375 07TH ST,94103
7,Chavez ES,603,6041149.0,"Chavez, Cesar Chavez Elementary School / Presc...",825 SHOTWELL ST,94110
8,Chin ES,872,6113252.0,"Chin, John Yehall Chin Elementary School",350 BROADWAY,94133
9,Chinese Ed Ctr ES,476,6089569.0,Chinese Education Center Elementary School,657 MERCHANT ST,94111
10,Chinese Immersion ES,509,120386.0,Chinese Immersion School At Deavila,1250 WALLER ST,94117
11,Clarendon ES,478,6040828.0,Clarendon Elementary School,500 CLARENDON AVE,94131
12,Cleveland ES,481,6040836.0,Cleveland Elementary School,455 ATHENS ST,94112
13,Cobb ES,525,6040968.0,"Cobb, Dr. William L. Cobb Elementary School / ...",2725 CALIFORNIA ST,94115
14,Drew CP Acdy,507,6104673.0,"Drew, Dr. Charles R. Drew Elementary / Early E...",50 POMONA ST,94124
15,Creative Arts Charter,809,6112601.0,Creative Arts Charter School,1601 TURK ST,94115
16,El Dorado ES,521,6040950.0,El Dorado Elementary School,70 DELTA ST,94134
17,Fairmount ES,537,6040984.0,Fairmount Elementary School / Preschool,65 CHENERY ST,94131
18,Feinstein ES,539,111427.0,"Feinstein, Dianne Feinstein Elementary School",2550 25TH AVE,94116
19,Flynn ES,680,6041347.0,"Flynn, Leonard Flynn Elementary / Early Education",3125 CESAR CHAVEZ ST,94110
20,Garfield ES,562,6041040.0,Garfield Elementary / Early Education,420 FILBERT ST,94133
21,Glen Park ES,575,6041073.0,Glen Park Elementary School,151 LIPPARD AVE,94131
22,Grattan ES,589,6041115.0,Grattan Elementary / Early Education,165 GRATTAN ST,94117
23,Guadalupe ES,593,6041123.0,Guadalupe Elementary School,859 PRAGUE ST,94112
24,Harte ES,453,6040760.0,"Harte, Bret Harte Elementary / Early Education",1035 GILMAN AVE,94124
25,NaN,0,NaN,NaN,NaN,0
27,Hillcrest ES,614,6041156.0,Hillcrest Elementary School,810 SILVER AVE,94134
28,Jefferson ES,644,6041230.0,Jefferson Out Of School (OST) Program,1325 18TH AVE,94122
30,Key ES,544,6041008.0,"Key, Francis Scott Key Elementary/Early Education",1530 43RD AVE,94122
31,King ES,838,6041602.0,"King, Thomas Starr King Elementary / Preschool",1215 CAROLINA ST,94107
...,...,...,...,...,...,...
47,Moscone ES,723,6099154.0,"Moscone, George Moscone Elementary / Las Ameri...",2576 HARRISON ST,94110
48,Muir ES,650,6041255.0,"Muir, John Muir Elementary / Early Education",380 WEBSTER ST,94102
49,New Traditions ES,735,6097919.0,New Traditions Elementary School,2049 GROVE ST,94117
50,Ortega ES,746,6041271.0,"Ortega, Jose Ortega Elementary School",400 SARGENT ST,94132
51,Parker ES,638,6041206.0,"Parker, Jean Parker Out-Of-School (OST) / Earl...",840 BROADWAY,94133
52,Parks ES,786,6041503.0,"Parks, Rosa Parks Japanese Bilingual Bicultura...",1501 OFARRELL ST,94115
53,Peabody ES,569,6041065.0,"Peabody, George Peabody Elementary School",251 06TH AVE,94118
54,Redding ES,790,6041511.0,Redding Elementary / Early Education,1421 PINE ST,94109
55,Revere,760,6041487.0,"Revere, Paul Revere School / Preschool",555 TOMPKINS AVE,94110
56,Rooftop ES,796,6089775.0,Rooftop (5-8 Mayeda Campus),500 CORBETT AVE,94114
58,Sanchez ES,816,6041545.0,Sanchez Elementary School / Preschool,325 SANCHEZ ST,94114
59,Serra ES,656,6041289.0,"Serra, Junipero Serra Elementary School",625 HOLLY PARK CIR,94110
60,SF Pub Montessori ES,814,123117.0,SF Pub Montessori ES,2340 Jackson St,94115
61,S.F. Community ES,493,6093488.0,San Francisco Community Alternative School,125 EXCELSIOR AVE,94112
62,Sheridan ES,820,6041560.0,Sheridan Elementary School / Preschool,431 CAPITOL AVE,94112
63,Sherman ES,823,6041578.0,Sherman Elementary School,1651 UNION ST,94123
64,Sloat ES,488,6040851.0,"Sloat, Commodore Sloat Elementary School",50 DARIEN WAY,94127
65,Spring Valley ES,834,6041594.0,Spring Valley Elementary / Early Education,1451 JACKSON ST,94109
66,Stevenson ES,782,6041529.0,"Stevenson, Robert Louis Stevenson Elementary S...",2051 34TH AVE,94116
67,Sunnyside ES,842,6041610.0,Sunnyside Elementary School,250 FOERSTER ST,94112
68,Sunset ES,750,6113997.0,Sunset Elementary School,1920 41ST AVE,94116
69,Sutro ES,848,6041644.0,Sutro Elementary / Early Education,235 12TH AVE,94118
70,Taylor ES,513,6040943.0,"Taylor, E. R. Taylor Elementary School / Presc...",423 BURROWS ST,94134
71,Tenderloin ES,859,6115901.0,Tenderloin Elementary / Early Education,627 TURK ST,94102
72,Ulloa ES,862,6041685.0,Ulloa Elementary School,2650 42ND AVE,94116
73,Vis Valley ES,867,6041701.0,Visitacion Valley Elementary School,55 SCHWERIN ST,94134
74,Webster ES,497,6040893.0,"Webster, Daniel Webster Out-Of-School (OST) Pr...",465 MISSOURI ST,94107
75,West Portal ES,876,6041727.0,West Portal Elementary School,5 LENOX WAY,94127
76,Yick Wo ES,801,6041131.0,Yick Wo Elementary School,2245 JONES ST,94133
77,Alice Fong Yu ES,485,6113245.0,"Yu, Alice Fong Yu Alternative School",1541 12TH AVE,94122

In [30]:
#add missing row...
df_big.loc['78'] = ['Edison Charter K-8', 517, 6040935, 'Edison Charter K-8', '3531 22ND ST', 94114]

In [31]:
df_big.tail()

,school_name_x,district_code,cds_code,school_name_y,campus_address,zipcode
74,Webster ES,497,6040893.0,"Webster, Daniel Webster Out-Of-School (OST) Pr...",465 MISSOURI ST,94107
75,West Portal ES,876,6041727.0,West Portal Elementary School,5 LENOX WAY,94127
76,Yick Wo ES,801,6041131.0,Yick Wo Elementary School,2245 JONES ST,94133
77,Alice Fong Yu ES,485,6113245.0,"Yu, Alice Fong Yu Alternative School",1541 12TH AVE,94122
78,Edison Charter K-8,517,6040935.0,Edison Charter K-8,3531 22ND ST,94114

In [32]:
#export to csv
df_big.to_csv('./data/exports/master_schools_list.csv')

In [ ]:
import pdfkit
pdfkit.from_file('concat_schools.html', 'concat_schools.pdf')